$white: #fff;
$lightGray: #9ca393;
$darkSlateGray: #464e3d;
$lightGreen: #73c41d;
$forestGreen: #3a8f04;


//images
$backGround: url(../../static/assets/images/bambooBG.jpg);



// media query variables
$breakpoints: (phone: 640px, 
               tablet: 768px, 
               desktop: 1024px) !default;

$media-expressions: (screen: "screen", 
                    handheld: "handheld",
                    retina2x: 
                    ("(-webkit-min-device-pixel-ratio: 2)", 
                    "(min-resolution: 192dpi)")) !default;

$media-expressions: (screen: "screen", 
                handheld: "handheld",
                retina2x: 
                ("(-webkit-min-device-pixel-ratio: 2)", 
                "(min-resolution: 192dpi)")) !default;